@import "helpers/optimize";
@import "helpers/fonts";
@import "helpers/variables";
@import "helpers/mixins";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";

// html {
//   box-sizing: border-box;
// }
//
// *, *::before, *::after {
// 	box-sizing: inherit;
// }

html {
  font-size: rem(16);
}
.fonts-loaded {
  body {
    font-family: Lato, sans-serif;
  }
}

body {
  font-family: Lato, sans-serif;
  background: $bgcolor;
  color: $fcolor;
  @include fl-cntr(column);
  margin: auto;
  width: 1600px;
}

.section {
  @include fl-cntr(row);
  width: 100%;
  &--enter {
    height: 200px;
    background-color: #282f35;
  }
  &--hero {
    height: 800px;
    @include fl-cntr--start(column);
  }
  &--about-us {
    height: 470px;
    @include fl-cntr--start(column);
    // background-color: rgba(116, 222, 40, 0.41);
    padding-top: 100px;
  }
  &__title {
    @include fl-cntr(column);
    text-align: center;
    color: $fcolor--title;
    text-transform: uppercase;
    font-size: rem(18);
    letter-spacing: 0.2em;
    font-weight: 700;
    // background-color: rgba(216, 102, 40, 0.41);
    margin-bottom:  21px;
    &::before {
      content: url(../imgs/icon01-chain.png);
      margin-bottom: 30px;
    }
  }
  &__text {
    line-height: 1.889;
    font-weight: 400;
    font-size: rem(18);
    margin: 0 240px 0 280px;
    text-align: center;
    // background-color: rgba(216, 222, 40, 0.41);
  }
  &--shop {
    // display: block;
    width: 1600px;

    // height: 100vh;
    height: 534px;
    // display: flex;
    // column-count: 3;
    // float: right;
    // vertical-align: top;
    // flex-direction: column;
    @include fl-cntr(row);
    // display: inline-flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    // flex-wrap: wrap;
    background-color: rgba(216, 222, 40, 0.41);

    // &::after {
    //   content: '';
    //   display: block;
    //   clear: both;
    // }


  }
  // &__pic {
  //   // width: 16.66666666666667%;
  //   display: inline-block;
  //   // float: b;
  //   float: right;
  //   vertical-align: top;
  //   // @include fl-cntr(row);
  //
  //   // box-sizing: border-box;
  //   // border: 5px solid black;
  //   // height: 50%;
  // }
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.img-wrapper {
  flex-basis: 33,33333333333333%;
  // height: 534px;
  width: 100%  ;
  @include fl-cntr(row);
  flex-wrap: wrap;
  // background-color: red;
  // &--column {
  //   // background-color: green;
  //   @include fl-cntr(row);
  //   flex-wrap: wrap;
  //   // width: 100%;
  // }
}

.img-wrapper img {
  display: block;
}

.button {
  margin: auto;
  font-weight: 700;
  font-size: rem(14);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px 60px;
  border: 1px solid #94979a;
  // transition: none;
  transition-timing-function: ease-out;

  &:hover {

    transform-origin: 0;
    transform: perspective(1000px) rotateY(35deg);
  }
  &--transition {
    transition: 0.3s;
  }
}
.header {
  top: 0;
  position: relative;
  width: 100%;
  height: 155px;
  // background-color: rgba(40, 222, 76, 0.11);
  @include fl-cntr(column);
}
.logo {
  position: absolute;
  left: center;
  top: center;
  height:85px;
  width: 94px;
  // background-image: url('../imgs/logo01.png');
  // background-repeat: no-repeat;
  // background-size: auto;
  // background-position: 50%;
  // z-index: 1;
  // background-color: rgba(216, 222, 40, 0.41);
}
.main-menu {
  @include fl-cntr(row);
  position: absolute;
  top: 50px;
  left: center;
  width: 100%;
  z-index: 2;
  // background-color: rgba(207, 40, 222, 0.11);
}
.menu {
  width: 100%;
  @include fl-cntr(row);

// отступы всем пунктам меню

  &__items li {
    padding: 0 ($link-space / 2);
    position: relative;
  }

// точки между ссылок ко всем ссылкам

  &__items li::before {
    content: ".";
    display: block;
    left: 0;
    color: $fcolor--menu;
    position: absolute;
  }
// убираем точку у каждой первой ссылки
  &__items li:first-child::before {
    content: "";
  }

// обе части меню занимают 50%
  &__items {
    flex-basis: 50%;

//левая половина

    &--left {
      @include fl-cntr--end(row);
      padding-right: ($logo-space / 2);
    }
//правая половина
    &--right {
      @include fl-cntr--start(row);
      padding-left: ($logo-space / 2);
    }

//убираем отступ слева у первого блока левой части
    &--left li:first-child {
      padding-left: 0;
    }

//убираем отступ справа у последнего блока левой части меню
    &--left li:last-child {
      padding-right: 0;
    }

//выравнивание ссылок по правому краю в левой половине меню
    &--left li a {
    @include fl-cntr--end(row);
    }

//убираем отступ слева у первого блока в правой части меню
    &--right li:first-child{
      padding-left: 0;
    }
//убираем отступ справа у последнего блока в правой части меню
    &--right li:last-child {
      padding-right: 0;
    }
//выравнивание ссылок по левому краю в правой половине меню
    &--right li a {
    @include fl-cntr--start(row);
    }
  }

  &__item {
    font-family: Lato, sans-serif;
    font-size: rem(13);
    display: block;
  }
  &__link {
    text-transform: uppercase;
    color: $fcolor--menu;
    font-size: rem(13);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.2em;
    transition: all 0.3s ease-in-out;
    &:hover {
      // text-decoration: underline;
      color: #64c29e;
      // font-size: rem(20);
      // transform: scaleX(1.5);
      // transform: scaleY(1.5);
      background-color: #64c29e;
      color: #fff;
      padding: 0 15px;
      // position: relative;
      // transition: 0.4s;
    }
  }
}

.footer {
  height: 250px;
  width: 1600px;
  padding: 0 250px;
  font-size: rem(14);
  @include fl-cntr--bw(row);
}

.address {
  flex-basis: 25%;
  font-style: italic;

  &__title {
    font-size: rem(16);
    font-style: normal;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $fcolor;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social-links {
  flex-basis: 25%;
  @include fl-cntr(row);

  &__item {
    margin-right: 15px;
    &:hover {
      transform-origin: 50%;
      transform: rotate(360deg);
      transition: 0.4s;
      transition-timing-function: ease-out;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.studio-copyright {
  flex-basis: 25%;
  @include fl-cntr--end(row);

  &__text {
    font-style: italic;
    margin-right: 5px;
  }
  &__logo {
    transition: none;

    &:hover {
      transform-origin: 50%;
      transform: rotate(360deg);
    }

    &--transition {
      transition: 0.4s;
      transition-timing-function: ease-out;
    }
  }
}
// html
// 	font-size baseFontSize
// 	height 100%
// 	line-height 1.3
//
// body
// 	font-family mainFont
// 	height 100%
//
// h1,h2,h3,h4,h5,h6
// 	margin 0
//
// ul,li
// 	list-style-type none
// 	margin 0
// 	padding 0
//
// p
// 	margin 0
//
// a
// 	color black
// 	text-decoration none
//
// audio,
// canvas,
// iframe,
// img,
// svg,
// video
// 	vertical-align middle
//
// textarea
// 	resize none
//
// section
// 	position relative
//
// input,
// select,
// button
// 	outline none
//
// *, *:before, *:after
// 	box-sizing border-box
//
// .wrapper
// 	display flex
// 	flex-direction column
// 	height 100%
//
// .content
// 	flex 1 0 auto
// //Модули
// @import "modules/modules";
// // СТРАНИЦЫ
// // Главная страница
// @import "pages/index/index";
