// ЦВЕТА
$bgcolor: #f7f7f7;
$fcolor: #848789;
$fcolor--menu: #4d4959;
//
// // РАЗМЕРЫ
$basefontsize: 16px;

//РАЗМЕРЫ__МЕНЮ
//пространство под лого
$logo-space: 220px;
//пространство между ссылками
$link-space: 70px;
//
